.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct_info {
  padding-left: 20px;
}

.checkoutProduct_info > button {
  background: #cac1da;
  border: 1px solid;
  margin-top: 10px;
  border-color: #61dafb #8768bf #a5a5f3;
  color: black;
  cursor: pointer;
}

.checkoutProduct_img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct_rating {
  display: flex;
}
