.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 120px;
  object-fit: contain;
  margin: 0 30px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 20px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}

.header_searchIcon {
  background-color: #fcc419;
  margin-left: 3px;
  padding: 5px;
  height: 15px;
  border-radius: 5px;
  color: white;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #495057;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  margin-top: 3px;
}

.header_optionBasket {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #495057;
}

.header_optionLineTwo_basket {
  margin-right: 10px;
  margin-left: 8px;
}

.homelogin {
  text-decoration: none;
  color: #495057;
}
